@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  font-family: "微软雅黑";
  position: relative;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 510px) {
  html {
    font-size: 68px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

@font-face {
  font-family: 'iconfont';
  /* project id："174447" */
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont";
}

/*audio music-sp*/
#music-sp {
  width: 100%;
  height: 100%;
  background: transparent;
  background-size: cover;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  margin: auto;
}

#music-sp img {
  width: 7.5rem;
  z-index: 10;
}

/*audio music-sp End*/
/*audio-list*/
#audio-list {
  width: 100%;
  height: 100%;
  background: #F2F4F5;
  display: none;
}

#audio-list:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 100%;
  height: 1rem;
  background: #CE3D3E;
}

.header:after {
  content: "";
  display: block;
  clear: both;
}

.header ul {
  width: 100%;
  height: 100%;
  background: transparent;
}

.header ul:after {
  content: "";
  display: block;
  clear: both;
}

.header ul li {
  float: left;
}

.header ul .back {
  width: 1rem;
  height: 1rem;
  background: transparent;
  text-align: center;
  line-height: 0.99rem;
}

.header ul .back a {
  font-size: 0.45rem;
  color: #FEFEFE;
  font-weight: 500;
}

.header ul .logo {
  width: 5.5rem;
  height: 100%;
  background: transparent;
}

.header ul .share {
  width: 1rem;
  height: 1rem;
  background: transparent;
  text-align: center;
  line-height: 0.99rem;
}

.header ul .share a {
  font-size: 0.6rem;
  color: #F5F5F5;
  font-weight: 500;
}

/*header End*/
/*music-list*/
#music-list:after {
  content: "";
  display: block;
  clear: both;
}

#music-list li {
  width: 80%;
  height: 0.6rem;
  background: transparent;
  margin: 0.08rem 0rem 0.15rem 0.3rem;
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #dfdfdf;
  line-height: 0.3rem;
}

#music-list li span {
  padding: 0.1rem;
  float: left;
  display: inline-block;
}

#music-list li span:nth-child(1) {
  margin-right: 0.2rem;
}

.author, .delete {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: transparent;
  position: absolute;
  right: 0.2rem;
}

.active {
  color: #c00;
}

/*music-list End*/
/*song-list*/
.song-list:after {
  content: "";
  display: block;
  clear: both;
}

.song-list div {
  width: 0.5rem;
  height: 0.5rem;
  background: #dfdfdf;
  border-radius: 50%;
  line-height: 0.4rem;
  text-align: center;
  color: #FF0000;
  font-size: 0.5rem;
  cursor: pointer;
  position: fixed;
  right: 0.2rem;
  top: 1.1rem;
}

/*song-list End*/
/*audio-list End*/
/*audio-play*/
#audio-play {
  width: 100%;
  height: 100%;
  background: #572e21;
  z-index: 0;
}

#audio-play:after {
  content: "";
  display: block;
  clear: both;
}

/*header*/
#header {
  width: 100%;
  height: 1rem;
  background: #695343;
  border-bottom: 1px solid #706251;
}

#header ul {
  width: 100%;
  height: 100%;
  background: transparent;
}

#header ul:after {
  content: "";
  display: block;
  clear: both;
}

#header ul li {
  float: left;
}

#header ul .back {
  width: 1rem;
  height: 1rem;
  background: transparent;
  text-align: center;
  line-height: 0.99rem;
}

#header ul .back a {
  font-size: 0.6rem;
  color: #FEFEFE;
  font-weight: 500;
}

#header ul .song {
  width: 5.5rem;
  height: 100%;
  background: transparent;
  padding-left: 0.2rem;
  position: relative;
}

#header ul .song div {
  width: 5rem;
  height: auto;
  background: transparent;
  text-align: left;
  padding-top: 0.2rem;
  position: absolute;
  top: 0rem;
}

#header ul .song div .author {
  text-align: left;
}

#header ul .song p:nth-child(1) {
  color: #FAF9F8;
}

#header ul .song p:nth-child(2) {
  color: #A8A7A7;
  font-size: 12px;
}

#header ul .share {
  width: 1rem;
  height: 1rem;
  background: transparent;
  text-align: center;
  line-height: 0.99rem;
}

#header ul .share a {
  font-size: 0.6rem;
  color: #F5F5F5;
  font-weight: 500;
}

/*audio*/
#audio {
  margin: 0rem auto;
  position: fixed;
  bottom: 0rem;
}

/*进度条和音频共同属性*/
#p-i, #v-i {
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  background: #dfdfdf;
  position: absolute;
  cursor: pointer;
  top: -0.15rem;
}

/*time 和  volume进度条属性*/
.vol {
  width: 100%;
  height: 0.6rem;
  background: transparent;
  overflow: hidden;
  display: none;
}

.vol:after {
  content: "";
  display: block;
  clear: both;
}

.vol span {
  display: block;
  float: left;
  line-height: 0.66rem;
}

.vol div {
  float: left;
}

.vol #volume {
  width: 5.8rem;
  height: 0.06rem;
  background: #dfdfdf;
  margin: 0.3rem 0rem 0rem 0.35rem;
  position: relative;
}

.vol #volume #v-i {
  right: -0.15rem;
  color: #796b63;
}

.vol #vol {
  padding-left: 0.3rem;
  color: #B8B3AE;
}

.time {
  width: 100%;
  height: 0.8rem;
  background: transparent;
}

.time:after {
  content: "";
  display: block;
  clear: both;
}

.time span {
  display: block;
  float: left;
  line-height: 0.6rem;
}

.time div {
  float: left;
}

.time #progress {
  width: 5rem;
  height: 0.06rem;
  background: #dfdfdf;
  margin: 0.3rem 0rem 0.2rem 0.35rem;
  position: relative;
}

.time #progress #p-i {
  left: -0.15rem;
  color: #796b63;
}

.time #current-time {
  padding-left: 0.3rem;
  color: #877d75;
}

.time #duration {
  float: right;
  padding-right: 0.3rem;
  color: #665551;
}

/*time 和  volume 属性End*/
/*hands*/
#hand {
  width: 6.99rem;
  height: 1.56rem;
  background: transparent;
  padding-left: 3.82rem;
  z-index: 200;
}

#hand a {
  display: block;
}

#hand a img {
  width: 2.19rem;
  height: 1.56rem;
  transform-origin: left top;
  transition: transform 2s ease-in-out 0s;
  position: absolute;
  top: 0rem;
  z-index: 222;
}

/*动画*/
.hand {
  transform: rotateZ(36deg);
}

@keyframes hand {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/*rotate rotate-img动画*/
.play {
  animation: rotate 10s linear 0s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*hands End*/
/*歌词info*/
#content {
  width: 100%;
  height: 10rem;
  background: #572e21;
  display: none;
  overflow: hidden;
  padding: 1rem auto 1.5rem;
  position: relative;
}

#content .content {
  width: 100%;
  height: auto;
  background: transparent;
  position: absolute;
  top: 3rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

#content .content li {
  width: 100%;
  height: auto;
  background: transparent;
  text-align: center;
  line-height: 0.6rem;
  color: #ccc;
}

.contentplay {
  animation: content 360s linear infinite;
}

@keyframes content {
  0% {
    top: 200px;
    opacity: 0.4;
  }
  5% {
    top: 0px;
    opacity: 1;
  }
  15% {
    top: -200px;
    opacity: 1;
  }
  20% {
    top: -400px;
    opacity: 1;
  }
  25% {
    top: -600px;
    opacity: 1;
  }
  30% {
    top: -800px;
    opacity: 1;
  }
  35% {
    top: -1000px;
    opacity: 1;
  }
  40% {
    top: -1200px;
    opacity: 1;
  }
  45% {
    top: -1400px;
    opacity: 1;
  }
  50% {
    top: -1600px;
    opacity: 1;
  }
  55% {
    top: -1800px;
    opacity: 1;
  }
  60% {
    top: -2000px;
    opacity: 1;
  }
  65% {
    top: -2200px;
    opacity: 1;
  }
  70% {
    top: -2400px;
    opacity: 1;
  }
  75% {
    top: -2600px;
    opacity: 1;
  }
  80% {
    top: -2800px;
    opacity: 1;
  }
  85% {
    top: -3000px;
    opacity: 1;
  }
  90% {
    top: -3200px;
    opacity: 1;
  }
  95% {
    top: -3400px;
    opacity: 0.8;
  }
  100% {
    top: -3600px;
    opacity: 0.4;
  }
}

/*歌词info End*/
#content-rotate {
  width: 100%;
  height: auto;
  background: #572e21;
  position: absolute;
  top: 1rem;
}

#content-rotateafter {
  content: "";
  display: block;
  clear: both;
}

/*rotate*/
#rotate {
  width: 5.38rem;
  height: 5.43rem;
  background: transparent;
  overflow: hidden;
  border-radius: 50%;
  margin: 0.1rem auto 0rem;
}

#rotate a {
  display: block;
}

#rotate a.rotate {
  background-image: url(../images/rotate.png);
  background-repeat: no-repeat;
  background-size: 5.38rem 5.43rem;
  background-position: 0rem 0rem;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  margin: auto;
  z-index: 6;
}

#rotate a.rotate-img {
  background-image: url(../images/wu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0rem 0rem;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  margin: auto;
  width: 3.56rem;
  height: 3.56rem;
  border-radius: 50%;
  z-index: 9;
}

/*rotate End*/
/*collect*/
#collect {
  width: 100%;
  height: 1rem;
  background: #572e21;
  margin: 1.5rem auto 0rem;
  padding: 1rem 0rem 0.5rem;
}

#collect ul {
  margin: 0rem 0.6rem;
}

#collect ul:after {
  content: "";
  display: block;
  clear: both;
}

#collect ul li {
  float: left;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 1rem;
  height: 1rem;
  background: transparent;
  text-align: center;
}

#collect ul li:nth-child(1) {
  margin-left: 0.6rem;
}

#collect ul li:nth-child(4) {
  margin-right: 0.4rem;
}

#collect ul li:nth-child(1) a {
  font-size: 0.6rem;
  color: #FF3838;
  font-weight: 500;
  line-height: 1rem;
}

#collect ul li:nth-child(2) a {
  font-size: 1rem;
  color: #BBA8A5;
  font-weight: 500;
  line-height: 1rem;
}

#collect ul li:nth-child(3) a {
  font-size: 0.6rem;
  color: #BBA8A5;
  font-weight: 500;
  line-height: 1rem;
}

#collect ul li:nth-child(4) a {
  font-size: 0.6rem;
  color: #BBA8A5;
  font-weight: 500;
  line-height: 1rem;
}

/*collect End*/
/*list*/
body {
  position: relative;
}

#list {
  width: 100%;
  height: 3rem;
  background: red;
  position: absolute;
  bottom: -6rem;
}

.listdong {
  animation: list 0.8s linear 0s;
}

@keyframes list {
  0% {
    bottom: -6rem;
  }
  100% {
    bottom: 0rem;
  }
}

/*list End*/
/*footer*/
#footer {
  width: 100%;
  height: 1.9rem;
  background: #572e21;
  position: fixed;
  bottom: 0rem;
  padding-bottom: 0.3rem;
  padding-top: 0.02rem;
  z-index: 1;
}

#footer ul {
  width: 100%;
  height: 1rem;
  background: transparent;
  position: absolute;
  bottom: 0.11rem;
  padding-bottom: 0.2rem;
}

#footer ul:after {
  content: "";
  display: block;
  clear: both;
}

#footer ul li {
  float: left;
  padding: 0rem 0.5rem 0rem 0.3rem;
  text-align: center;
  line-height: 1rem;
}

#footer ul .round a {
  font-size: 0.4rem;
  color: #ada8a3;
  font-weight: 500;
}

#footer ul li:nth-child(2) {
  margin-left: 0.3rem;
}

#footer ul .pre a {
  font-size: 0.6rem;
  color: #D4D2D0;
  font-weight: 500;
}

#footer ul #play a {
  font-size: 0.9rem;
  color: #d4d1d0;
  font-weight: 500;
}

#footer ul li:nth-child(4) {
  margin-right: 0.1rem;
}

#footer ul .next a {
  font-size: 0.6rem;
  color: #D4D2D0;
  font-weight: 500;
}

#footer ul li:nth-child(5) {
  margin-left: 0.2rem;
}

#footer ul .list a {
  font-size: 0.4rem;
  color: #A7A3A0;
  font-weight: 500;
}
