@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  background: #572e21;
  font-family: "微软雅黑"；;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 510px) {
  html {
    font-size: 68px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

@font-face {
  font-family: 'iconfont';
  /* project id："174447" */
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont";
}

/*header*/
#header {
  width: 100%;
  height: 1rem;
  background: #3a383a;
  border-bottom: 1px solid #706251;
}

#header ul {
  width: 100%;
  height: 100%;
  background: transparent;
}

#header ul:after {
  content: "";
  display: block;
  clear: both;
}

#header ul li {
  float: left;
}

#header ul .back {
  width: 1rem;
  height: 1rem;
  background: transparent;
  text-align: center;
  line-height: 0.99rem;
}

#header ul .back a {
  font-size: 0.6rem;
  color: #FEFEFE;
  font-weight: 500;
}

#header ul .song {
  width: 5.5rem;
  height: 100%;
  background: transparent;
  padding-left: 0.2rem;
}

#header ul .song div {
  width: 5rem;
  height: auto;
  background: transparent;
  text-align: left;
  padding-top: 0.2rem;
}

#header ul .song p:nth-child(1) {
  color: #FAF9F8;
}

#header ul .song p:nth-child(2) {
  color: #A8A7A7;
}

#header ul .share {
  width: 1rem;
  height: 1rem;
  background: transparent;
  text-align: center;
  line-height: 0.99rem;
}

#header ul .share a {
  font-size: 0.6rem;
  color: #F5F5F5;
  font-weight: 500;
}

/*audio*/
#audio {
  margin: 0rem auto;
  position: fixed;
  bottom: 0rem;
}

#mote {
  width: 1.5rem;
  padding: 0.15rem 0.2rem;
  position: absolute;
  bottom: 0.68rem;
  right: 0rem;
  cursor: pointer;
  background: #ff0000;
}

#bar {
  position: absolute;
  bottom: 0.56rem;
  left: 0rem;
  margin: 0rem 0.3rem;
}

#bar:after {
  content: "";
  display: block;
  clear: both;
}

#progress, #volume {
  width: 3rem;
  height: 0.2rem;
  background: #dfdfdf;
  margin: 0.2rem auto;
  position: relative;
}

#p-i {
  left: -0.2rem;
}

#v-i {
  right: -0.2rem;
}

#list li {
  padding-left: 15px;
  margin: 15px;
  list-style: none;
  cursor: pointer;
  /*background:red;*/
}

/*#list li{
    color:#383838;
}*/
#list li span {
  padding: 15px;
}

.author {
  text-align: right;
}

.active {
  color: #c00;
}

/*进度条和音频共同属性*/
#p-i, #v-i {
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  background: #dfdfdf;
  position: absolute;
  cursor: pointer;
  top: -0.15rem;
}

/*footer*/
#footer {
  width: 100%;
  height: 1.6rem;
  background: transparent;
  position: fixed;
  bottom: 0rem;
  z-index: 1;
}

#footer .time {
  width: 100%;
  height: 0.6rem;
  background: transparent;
}

#footer .time:after {
  content: "";
  display: block;
  clear: both;
}

#footer .time span {
  display: block;
  float: left;
  line-height: 0.6rem;
}

#footer .time div {
  float: left;
}

#footer .time #progress {
  width: 5rem;
  height: 0.06rem;
  background: #dfdfdf;
  margin: 0.3rem 0rem 0rem 0.35rem;
  position: relative;
}

#footer .time #progress #p-i {
  left: -0.15rem;
  color: #796b63;
}

#footer .time #current-time {
  padding-left: 0.3rem;
  color: #877d75;
}

#footer .time #duration {
  float: right;
  padding-right: 0.3rem;
  color: #665551;
}

#footer ul {
  width: 100%;
  height: 1rem;
  background: transparent;
}

#footer ul:after {
  content: "";
  display: block;
  clear: both;
}

#footer ul li {
  float: left;
  padding: 0rem 0.5rem 0rem 0.3rem;
  text-align: center;
  line-height: 1rem;
}

#footer ul .round a {
  font-size: 0.4rem;
  color: #ada8a3;
  font-weight: 500;
}

#footer ul li:nth-child(2) {
  margin-left: 0.3rem;
}

#footer ul .pre a {
  font-size: 0.6rem;
  color: #D4D2D0;
  font-weight: 500;
}

#footer ul #play a {
  font-size: 0.9rem;
  color: #d4d1d0;
  font-weight: 500;
}

#footer ul li:nth-child(4) {
  margin-right: 0.1rem;
}

#footer ul .next a {
  font-size: 0.6rem;
  color: #D4D2D0;
  font-weight: 500;
}

#footer ul li:nth-child(5) {
  margin-left: 0.2rem;
}

#footer ul .list a {
  font-size: 0.4rem;
  color: #A7A3A0;
  font-weight: 500;
}
