@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  background: #fff;
  font-family: "微软雅黑"；;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 510px) {
  html {
    font-size: 68px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 192px;
  }
}

.header {
  width: 100%;
  height: 1rem;
  background: #ff0000;
}

#audio {
  margin: 0rem auto;
  position: fixed;
  bottom: 0rem;
}

#play, #pause {
  width: 1.5rem;
  padding: 0.15rem 0.2rem;
  cursor: pointer;
}

#play {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  background: #CCC;
  text-align: center;
}

#mote {
  widht: 1.5rem;
  padding: 0.15rem 0.2rem;
  position: absolute;
  bottom: 0.68rem;
  right: 0rem;
  cursor: pointer;
  background: #ff0000;
}

#time {
  position: absolute;
  bottom: 0.8rem;
  right: 0.3rem;
  margin: 0rem 0.8rem;
}

#time span {
  padding: 0.1rem;
}

#bar {
  position: absolute;
  bottom: 0.56rem;
  left: 0rem;
  margin: 0rem 0.3rem;
}

#bar:after {
  content: "";
  display: block;
  clear: both;
}

#progress, #volume {
  width: 3rem;
  height: 0.2rem;
  background: #dfdfdf;
  margin: 0.2rem auto;
  position: relative;
}

#p-i, #v-i {
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background: greenyellow;
  position: absolute;
  cursor: pointer;
  top: -0.1rem;
}

#p-i {
  left: -0.2rem;
}

#v-i {
  right: -0.2rem;
}

#list li {
  padding-left: 15px;
  margin: 15px;
  list-style: none;
  cursor: pointer;
  /*background:red;*/
}

/*#list li{
    color:#383838;
}*/
#list li span {
  padding: 15px;
}

.author {
  text-align: right;
}

.active {
  color: #c00;
}
