*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    position:relative;
}
ul li{
    list-style:none;
}
a{
    text-decoration:none;
}
$d-list:320px,360px,375px,384px,412px,414px,510px,600px,640px,768px,800px,1600px,1440px;
html{
    font-size:100px;
}
body{
    font-size:16px;
//  background-image:url(../images/todo.jpg);
    background:#572e21;
    font-family:"微软雅黑"；
}
$design-size:750px;
@each $w in $d-list{
    @media screen and (min-width:#{$w}) {
        html{
            font-size:100px * $w / $design-size;
        }
    }
}