//引入_main.scss里面的内容
@import "main";
//引入字体图标
@font-face {
    font-family: 'iconfont';  /* project id："174447" */
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
}
//定义宏
@mixin top-bottom{
    position:absolute;
    top:0rem;
    bottom:0rem;
    margin:auto;
}
@mixin center{
    position:absolute;
    top:0rem;
    bottom:0rem;
    left:0rem;
    right:0rem;
    margin:auto;
}
@mixin whb($width,$height,$background){
    width:$width;
    height:$height;
    background:$background;
}
//处理浮动带来的影响
@mixin float{
    content:"";
    display:block;
    clear:both;
}
//用textalign控制左右和上下居中
@mixin textalign($line-height){
    text-align:center;
    line-height:$line-height;
}
@mixin a($font-size,$color,$font-weight){
    font-size:$font-size;
    color:$color;
    font-weight:$font-weight;
}
/*audio music-sp*/
#music-sp{
    @include whb(100%,100%,transparent);
    background-size:cover;
    @include center;
    img{
        width:7.5rem;
//      height:12.2rem;
        z-index:10;
    }
//  a{
//      display:block;
//      @include whb(100%,100%,url(../images/yr.jpg));
//  }
}
/*audio music-sp End*/
/*audio-list*/
#audio-list{
    @include whb(100%,100%,#F2F4F5);
    &:after{
        @include float;
    }
    display:none;
}
.header{
    @include whb(100%,1rem,#CE3D3E);
    &:after{
        @include float;
    }
    ul{
        @include whb(100%,100%,transparent);
        &:after{
            @include float;
        }
        li{
            float:left;
        }
        .back{
            @include whb(1rem,1rem,transparent); 
            @include textalign(0.99rem);
            a{
                @include a(0.45rem,#FEFEFE,500);
            }
        }
        .logo{
            @include whb(5.5rem,100%,transparent);
        }
        .share{
            @include whb(1rem,1rem,transparent);
            @include textalign(0.99rem);
            a{
                @include a(0.6rem,#F5F5F5,500);
            }
        }
    }
}
/*header End*/
/*music-list*/
#music-list{
    &:after{
        @include float;
    }
}
#music-list li{
    @include whb(80%,0.6rem,transparent);
    margin:0.08rem 0rem 0.15rem 0.3rem;
    list-style:none;
    cursor:pointer;
    border-bottom:1px solid #dfdfdf;
    line-height:0.3rem;
}
#music-list li span{
    padding:0.1rem;
    float:left;
    display:inline-block;
}
#music-list li span:nth-child(1){
    margin-right:0.2rem;
}
.author,.delete{
    display:inline-block;
    @include whb(0.3rem,0.3rem,transparent);
    position:absolute;
    right:0.2rem;
}
.active{
    color:#c00;
}
/*music-list End*/
/*song-list*/
.song-list{
    &:after{
        content:"";
        display:block;
        clear:both;
    }
    div{
        @include whb(0.5rem,0.5rem,#dfdfdf);
        border-radius:50%;
        line-height:0.4rem;
        text-align:center;
        color:#FF0000;
        font-size:0.5rem;
        cursor:pointer;
        position:fixed;
        right:0.2rem;
        top:1.1rem;
    }
}
/*song-list End*/

/*audio-list End*/
/*audio-play*/
#audio-play{
    @include whb(100%,100%,#572e21);
//  @include center;
    z-index:0;
    &:after{
        @include float;
    }
//  display:none;
}
/*header*/
#header{
    @include whb(100%,1rem,#695343);
    border-bottom:1px solid #706251; 
    ul{
        @include whb(100%,100%,transparent);
        &:after{
            @include float;
        }
        li{
            float:left;
        }
        .back{
            @include whb(1rem,1rem,transparent); 
            @include textalign(0.99rem);
            a{
                @include a(0.6rem,#FEFEFE,500);
            }
        }
        .song{
            @include whb(5.5rem,100%,transparent);
            padding-left:0.2rem;
            position:relative;
            div{
               @include whb(5rem,auto,transparent);
               text-align:left;
               padding-top:0.2rem;
               position:absolute;
               top:0rem;
               .author{
                   text-align:left;
               }
            }
            p:nth-child(1){
                color:#FAF9F8;
            }
            p:nth-child(2){
                color:#A8A7A7;
                font-size:12px;               
            }
        }
        .share{
            @include whb(1rem,1rem,transparent);
            @include textalign(0.99rem);
            a{
                @include a(0.6rem,#F5F5F5,500);
            }
        }   
    }
}
/*audio*/
#audio{
    margin:0rem auto;
    position:fixed;
    bottom:0rem;
}
/*进度条和音频共同属性*/
#p-i,#v-i{
    border-radius:50%;
    @include whb(0.3rem,0.3rem,#dfdfdf);
    position:absolute;
    cursor:pointer;
    top:-0.15rem;
}
/*time 和  volume进度条属性*/
.vol{
    @include whb(100%,0.6rem,transparent);
    overflow:hidden;
    display:none;
    &:after{
        @include float;
    }
    span{
        display:block;
        float:left;
        line-height:0.66rem;
    }
    div{
        float:left;
    }
    #volume{
        @include whb(5.8rem,0.06rem,#dfdfdf);
//      @include center;
        margin:0.3rem 0rem 0rem 0.35rem;
        position:relative;
        #v-i{
            right:-0.15rem; 
            color:#796b63;
        }
    }
    #vol{
        padding-left:0.3rem;
        color:#B8B3AE;
    }
}
//歌曲快进进度条样式
.time{
    @include whb(100%,0.8rem,transparent);
    &:after{
        @include float;
    }
    span{
        display:block;
        float:left;
        line-height:0.6rem;
    }
    div{
        float:left;
    }
    #progress{
        @include whb(5rem,0.06rem,#dfdfdf);
//      @include center;
        margin:0.3rem 0rem 0.2rem 0.35rem;
        position:relative;
        #p-i{
            left:-0.15rem; 
            color:#796b63;
        }
    }
    #current-time{
        padding-left:0.3rem;
        color:#877d75;
    }
    #duration{
        float:right;
        padding-right:0.3rem;
        color:#665551;
    }
}
/*time 和  volume 属性End*/
/*hands*/
#hand{
    @include whb(6.99rem,1.56rem,transparent);
    padding-left:3.82rem;    
//  overflow:hidden; 
    z-index:200;
//  display:none;
    a{
        display:block;
//      @include backgroundimage(url(../images/rotate.png),no-repeat,2.19rem 1.56rem,0rem 0rem);
                 
        img{
            width:2.19rem;
            height:1.56rem;
            transform-origin:left top;
//          transform:rotateX(0deg);
            transition:transform 2s ease-in-out 0s;
            position:absolute;
            top:0rem;
            z-index:222;         
        }
    } 
}
/*动画*/
.hand{
//  animation:hand 2s linear 0s ;
    transform:rotateZ(36deg);  
}
@keyframes hand{
    0%{
       transform:rotateZ(0deg);
    }
    50%{
       transform:rotateZ(30deg);    
    }
    100%{
       transform:rotateZ(0deg);
    }
}
/*rotate rotate-img动画*/
.play{
    animation:rotate 10s linear 0s infinite;
}
@keyframes rotate{
    0%{
       transform:rotate(0deg);
    }
    100%{
       transform:rotate(360deg);       
    }
}
/*hands End*/
@mixin backgroundimage($background,$repeat,$size,$position){
    background-image:$background;
    background-repeat:$repeat;
    background-size:$size;
    background-position:$position;
    @include center;
}
/*歌词info*/
#content{
    @include whb(100%,10rem,#572e21);
    display:none;
    overflow:hidden;
    padding:1rem auto 1.5rem;
    position:relative;
    .content{
        @include whb(100%,auto,transparent);
        position:absolute;
        top:3rem;
        padding-bottom:2rem;
        overflow:hidden;
        li{
            @include whb(100%,auto,transparent);
            text-align:center;
            line-height:0.6rem;
            color:#ccc;
        }
    }
}
.contentplay{
    animation:content 360s linear infinite;
}
@keyframes content{
    0% {top: 200px;opacity: 0.4}
    5% {top: 0px;opacity: 1}
    15% {top: -200px;opacity: 1}
    20% {top: -400px;opacity: 1}
    25% {top: -600px;opacity: 1}
    30% {top: -800px;opacity: 1}
    35% {top: -1000px;opacity: 1}
    40% {top: -1200px;opacity: 1}
    45% {top: -1400px;opacity: 1}
    50% {top: -1600px;opacity: 1}
    55% {top: -1800px;opacity: 1}
    60% {top: -2000px;opacity: 1}
    65% {top: -2200px;opacity: 1}
    70% {top: -2400px;opacity: 1}
    75% {top: -2600px;opacity: 1}
    80% {top: -2800px;opacity: 1}
    85% {top: -3000px;opacity: 1}
    90% {top: -3200px;opacity: 1}
    95% {top: -3400px;opacity: 0.8}
    100%{top: -3600px;opacity: 0.4}
}
/*歌词info End*/
#content-rotate{
    @include whb(100%,auto,#572e21);
    position:absolute;
    top:1rem;
    &after{
        content:"";
        display:block;
        clear:both;
    }
}
/*rotate*/
#rotate{
    @include whb(5.38rem,5.43rem,transparent);
    overflow:hidden;
    border-radius:50%;
    margin:0.1rem auto 0rem;
    a{
       display:block;
    }
    a.rotate{
       @include backgroundimage(url(../images/rotate.png),no-repeat,5.38rem 5.43rem,0rem 0rem);
        z-index:6;
    }
    a.rotate-img{
        @include backgroundimage(url(../images/wu.png),no-repeat,cover,0rem 0rem);
        width:3.56rem;
        height:3.56rem;
        border-radius:50%;
        z-index:9;
    }
}
/*rotate End*/
/*collect*/
#collect{    
    @include whb(100%,1rem,#572e21);
    margin:1.5rem auto 0rem;
    padding:1rem 0rem 0.5rem;
    ul{
        margin:0rem 0.6rem;
        &:after{
           @include float;
        }
        li{
           float:left;
           margin-left:0.2rem;
           margin-right:0.2rem;
           @include whb(1rem,1rem,transparent);
           text-align:center;
        }
        li:nth-child(1){
            margin-left:0.6rem;
        }
        li:nth-child(4){
            margin-right:0.4rem;
        }
        li:nth-child(1){
            a{
               @include a(0.6rem,#FF3838,500); 
               line-height:1rem;             
            }
        }
        li:nth-child(2){
            a{
               @include a(1rem,#BBA8A5,500);
               line-height:1rem;              
            }
        }
        li:nth-child(3){
            a{
               @include a(0.6rem,#BBA8A5,500); 
               line-height:1rem;             
            }
        }
        li:nth-child(4){
            a{
               @include a(0.6rem,#BBA8A5,500); 
               line-height:1rem;             
            }
        }
    }
}
/*collect End*/
/*list*/
body{
    position:relative;
}
#list{
    @include whb(100%,3rem,red);
//  transform:translateY(3rem);
    position:absolute;
    bottom:-6rem;
}
.listdong{
    animation:list 0.8s linear 0s ;
}
@keyframes list{
    0%{
//     transform:translateY(3rem);
        bottom:-6rem;
    }
    100%{
//     transform:translateY(0rem);
        bottom:0rem;
    }
}
/*list End*/
/*footer*/
#footer{
    @include whb(100%,1.9rem,#572e21);
    position:fixed;
    bottom:0rem;
    padding-bottom:0.3rem;
    padding-top:0.02rem;
    z-index:1;
    //播放开始与暂停和列表页
    ul{
        @include whb(100%,1rem,transparent);
        position:absolute;
        bottom:0.11rem;
        padding-bottom:0.2rem;
        &:after{
            @include float;
        }
        li{
            float:left;
            padding:0rem 0.5rem 0rem 0.3rem;
            @include textalign(1rem);
        }
        .round{
            a{
                @include a(0.4rem,#ada8a3,500);
            }
        }
        li:nth-child(2){
            margin-left:0.3rem;
        }
        .pre{
            a{
                @include a(0.6rem,#D4D2D0,500);
            }
        }
        #play{
            a{
                @include a(0.9rem,#d4d1d0,500);
            }
        }
        li:nth-child(4){
            margin-right:0.1rem;
        }
        .next{
            a{
                @include a(0.6rem,#D4D2D0,500);
            }
        }
        li:nth-child(5){
            margin-left:0.2rem;
        }
        .list{
            a{
                @include a(0.4rem,#A7A3A0,500);
            }
        }
    }
}
